# Read and write CSV and XLS files

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/shubhamanand43/Applied_AI_Course_Notes/master/7%20-%20Python%20For%20Data%20Science%20Pandas/7.3%20-%20Key%20Operations%20on%20Data%20Frames/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving weather_data.xlsx to weather_data.xlsx

In [ ]:
#INSTALL: pip3 install xlrd

#read excel file 
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
#write DF to csv
df.to_csv('new.csv') 
df.to_csv('new_noIndex.csv', index=False)

In [ ]:
# INSTALL: pip3 install openpyxl

#write DF to Excel
df.to_excel('new.xlsx', sheet_name='weather_data')

# GROUP-BY

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/shubhamanand43/Applied_AI_Course_Notes/master/7%20-%20Python%20For%20Data%20Science%20Pandas/7.3%20-%20Key%20Operations%20on%20Data%20Frames/weather_data_cities.csv')
df #weather by cities

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [ ]:
g = df.groupby('city')
g

In [ ]:
for city, city_df in g:
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [ ]:
#or to get specific group
g.get_group('new york')

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny

In [ ]:
#Find maximum temperature in each of the cities
print(g.max())

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [ ]:
print(g.mean())

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [ ]:
print(g.describe())

         temperature                         ... windspeed
               count   mean       std   min  ...       25%   50%    75%   max
city                                         ...
mumbai           4.0  88.50  3.109126  85.0  ...      5.00   8.5  12.75  15.0
new york         4.0  32.25  3.304038  28.0  ...      6.75   7.0   8.25  12.0
paris            4.0  47.75  5.315073  42.0  ...      9.50  11.5  14.75  20.0

[3 rows x 16 columns]

# concatenate Data Frames

In [ ]:
import pandas as pd
india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})

india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [ ]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [ ]:
#concate two dataframes
df = pd.concat([india_weather, us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [ ]:
#if you want continuous index
df = pd.concat([india_weather, us_weather], ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

In [ ]:
df = pd.concat([india_weather, us_weather],axis=1)
df

       city  temperature  humidity      city  temperature  humidity
0    mumbai           32        80  new york           21        68
1     delhi           45        60   chicago           14        65
2  banglore           30        78   orlando           35        75

# Merge DataFrames

In [ ]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore", 'hyderabad'],
    "temperature": [32,45,30,40]})
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2   banglore           30
3  hyderabad           40

In [ ]:
humidity_df = pd.DataFrame({
    "city": ["delhi","mumbai","banglore"],
    "humidity": [68, 65, 75]})
humidity_df

       city  humidity
0     delhi        68
1    mumbai        65
2  banglore        75

In [ ]:
#merge two dataframes with out explicitly mention index
df = pd.merge(temperature_df, humidity_df, on='city')
df

       city  temperature  humidity
0    mumbai           32        65
1     delhi           45        68
2  banglore           30        75

In [ ]:
#OUTER-JOIN
df = pd.merge(temperature_df, humidity_df, on='city', how='outer')
df

        city  temperature  humidity
0     mumbai           32      65.0
1      delhi           45      68.0
2   banglore           30      75.0
3  hyderabad           40       NaN

# Numerical Indexing (.loc vs iloc)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.DataFrame([1,2,3,4,5,6,7,8,9,19], index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s

     0
49   1
48   2
47   3
46   4
45   5
1    6
2    7
3    8
4    9
5   19

In [ ]:
s.loc[:2]

    0
49  1
48  2
47  3
46  4
45  5
1   6
2   7

In [ ]:
s.iloc[:2]

    0
49  1
48  2

In [ ]:
s.loc[45]

0    5
Name: 45, dtype: int64

In [ ]:
s.iloc[45]

IndexError: ignored